body {
  background-color: lightgrey
}
.button {
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    width: 100px;
    cursor: pointer;
    background-color: lightgrey
  }
.filled {
    background-color: black;
    color : #fff;
    border-radius: 20px;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    width: 100px;
  }
.filled-icon-button{
    background-color: black;
    color : #fff;
    border-radius: 20px;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    width: 100px;
  }
.filled-icon-button-green{
    background-color:green;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    width: 100px;
  }
